#
# Node Modules
#
node_modules

#
# ESLint
#
.eslintcache
.eslintignore
.eslintrc.js

#
# Prettier
#
prettier.config.js

#
# WebPack
#
webpack.config.js
webpack.config.dev.js

#
# VS Code
#
.code-workspace
